.containerSong {
  display: flex;
  width: 100%;
  color: white;
  font-weight: 100;
}

.songFirstHalf {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.songFirstHalf img {
  width: 50px;
  background-color: inherit;
  margin-right: 10px;
  margin-left: 10px;
}

.songSecondHalf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

.songFirstHalfTitle {
  max-width: 200px;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}
